$navbar-default-bg: #000;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.btn-xlg{
    font-size: 1.7em;
    background-color: black;
}

.footer{
    color: #777;
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.footer small {
    float: left;
}

.footer ul {
    float: right;
    list-style: none;
}