<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy Ariel blog
        </small>
        <nav>
            <ul>
                <li> <%= link_to "About", "#" %></li>
                <li> <%= link_to "me", "#" %></li>
                <li> <%= link_to "you", "#" %></li>
            </ul>
        </nav>
    </footer>
    
</div>
